certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
colorful==0.5.8
dotenv==0.9.9
flake8==7.3.0
idna==3.16
mccabe==0.7.0
prettyprinter==0.18.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
python-dotenv==1.2.2
requests==2.34.2
urllib3==2.7.0
